<% provide :page, "All Travels" %>
<%= link_to "<-", user_path(current_user) %>

<h1><%= current_user.name %></h1>

<h2>My Travels</h2>
<ul>
  <% @travels.each do |travel| %>
    <li>ID: <%= travel.id %></li>
    <li>Travel name: <%= travel.name %></li>
    <li>Kilometers for this travel: <%= travel.kilometers %>.</li>
    <li>Author: <%= link_to(travel.author.name, user_path(travel.author)) %></li>
    <br>
  <% end %>
</ul>

<%= link_to "New Travel", new_travel_path %>



