<% provide :page, "All Travels" %>

<header class="trust-blue-gradient">
  <div class="hd-container">
    <div class="hd-back">
      <%= link_to user_path(current_user), title: "back" do %>      
        <i class="fas fa-arrow-left fa-xs"></i>
      <% end %>
    </div>     
    <div class="hd-title"><h1>My Travels</h1></div>
    <div class="hd-button"><i class="fas fa-search fa-2x"></i></div>
  </div>
</header>

<div class="list-container">
  <ul class="scroller">
    <% @travels.each do |travel| %>
      <li>ID: <%= travel.id %></li>
      <li>Travel name: <%= travel.name %></li>
      <li>Kilometers for this travel: <%= travel.kilometers %>.</li>
      <li>Author: <%= link_to(travel.author.name, user_path(travel.author)) %></li>
      <br>
    <% end %>
  </ul>
</div>

<div class="new-button">
<%= link_to "New Travel", new_travel_path %>
</div>


