<% provide :page, "New Travel" %>
<%= link_to "<-", :back %>

<h1>Register new travel</h1>

<%= form_with model: @travel, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :kilometers %>
  <%= f.text_field :kilometers %>

  <%= f.label :City %>  
  <% options = options_from_collection_for_select(@groups, 'id', 'name') %>
  <%= f.select :all_val,  options %>

  <%= f.submit :submit %>
<% end %>
