<% provide :page, "New Travel" %>

<h1>Register new travel</h1>

<%= form_with model: @travel, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :kilometers %>
  <%= f.text_field :kilometers %>

  <%= f.submit :submit %>
<% end %>
