<%= link_to "<-", root_path %>
<% provide :page, 'Sign up' %>

<h1>Sign up</h1>

<%= form_with model: @user, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit :submit %>
<% end %>