<div class="wrapper blue-gradient-user">
  <% if logged_in? %>  
  <% provide :page, current_user.name %>
  <div class="user-name">
    <div class="radius-photo"></div>
    <h2><%= link_to("#{current_user.name}", user_path(current_user)) %></h2>
  </div>

  

  <div class="user-menu">
    <ul>  
      <li><i class="fas fa-cog fa-3x"></i><%= link_to "My Travels", travels_path %></li>  
      <li><i class="fas fa-map-marker-alt fa-3x"></i><a href="#">Unofficial travels</a></li>
      <li><i class="fas fa-gift fa-3x"></i><%= link_to "Citys", groups_path %></li>    
      <li><i class="fas fa-external-link-alt fa-3x"></i><%= link_to 'Log out', logout_path, method: :delete, class: "logout-user" %></li>  
    </ul>
    <br>
    <br>
    <%= render 'layouts/flash' %>
  </div>

  <% else %>
  <h2><%= link_to 'Log in please', login_path %></h2>  
  <% end %>
</div>
