<h1>Trucking</h1>

<% if logged_in? %>

<h2><%= link_to("#{current_user.name}", user_path(current_user)) %></h2>

<ul>  
  <li><%= link_to "My Travels", travels_path %></li>  
  <li><a href="#">Unofficial travels</a></li>
  <li><%= link_to "Citys", groups_path %></li>    
  <li><%= link_to 'Log out', logout_path, method: :delete %></li>  
</ul>

<% else %>
<h2><%= link_to 'Log in please', login_path %></h2>  
<% end %>