<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>

  <script>
    document.getElementById('unofficial').onchange = function() {
        document.getElementById('all_val').disabled = !this.checked;
    };
  </script>
</html>